@page "/"
@using Domain

@inject HttpClient Http

<PageTitle>Index</PageTitle>
<ul>
    @foreach(var activity in activities) 
    {
        <li>
            @activity.Title
        </li>
    }
</ul>

@code {
    List<Activity>? activities = new List<Activity>();

    protected override async Task OnInitializedAsync() 
    {
        activities = await Http.GetFromJsonAsync<List<Activity>>("http://localhost:5000/api/activities");
    }
}