<MudPaper Class="d-flex flex-row align-end flex-grow-1 gap-4" Elevation="0">
    <MudIcon Icon="@Icons.Material.Filled.Groups" 
             Color="Color.Dark"
             Size="Size.Large"/>
    <h2>Blazor Activities</h2>
</MudPaper>
